.Section {
    padding: 60px 0;
}

.Image {
    background: url(../../../assets/images/profile.jpg) center center no-repeat;
    background-size: cover;
    min-height: 200px;
    border-radius: 50%;
}